*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --logo-web-color: rgba(33, 150, 243, 1);
  --button-color: rgba(245, 244, 250, 1);
  --button-color-main-side: rgba(33, 150, 243, 1);
  --hover-focus-color: rgba(33, 150, 243, 1);
  --font-color-basic: rgba(33, 33, 33, 1);
  --font-color-describe: rgba(117, 117, 117, 1);
  --font-color-special: rgba(255, 255, 255, 1);
  --font-color-footer: rgba(255, 255, 255, 0.6);
  --background-sides-element-color: rgba(47, 48, 58, 1);
  --background-color-crew: rgba(245, 244, 250, 1);
}
/* LOGO */
.logo {
  font-size: 26px;
}
.web {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  color: var(--logo-web-color);
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.studio,
.studio-footer {
  font-family: Oleo Script, sans-serif;
  font-weight: 400;
  color: var(--font-color-basic);
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.studio-footer {
  color: var(--font-color-special);
}
/* header */
.header-portfolio {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}
a:link {
  text-decoration: none;
  font-weight: 500;
  color: var(--font-color-describe);
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.navigation,
a:visited {
  font-weight: 500;
  font-size: 14px;
  color: inherit;
  list-style: none;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.kontakt {
  color: var(--font-color-describe);
  list-style: none;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
a:hover {
  color: var(--hover-focus-color);
}
a:focus {
  color: var(--hover-focus-color);
}
/* main */
body {
  font-family: "roboto", sans-serif;
  color: var(--font-color-basic);
}
.filter {
  list-style: none;
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-filter {
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  line-height: 1.625;
  letter-spacing: 0.03em;
  margin-bottom: 8px;
  padding: 6px 22px;
}
.filter li {
  display: inline-block;
  margin-left: 8px;
}
.brand-pictures {
  list-style: none;
}
.brand-task {
  font-size: 18px;
  font-weight: 700;
  font-family: inherit;
  line-height: 2;
  letter-spacing: 0.06em;
}
.brand-task-descr {
  font-size: 16px;
  font-family: inherit;
  color: var(--font-color-describe);
  line-height: 1.87;
  letter-spacing: 0.03em;
}
button.button-filter:hover,
button.button-main-side:hover {
  background-color: var(--hover-focus-color);
  color: var(--font-color-special);
}
button.button-filter:focus,
button.button-main-side:focus {
  background-color: var(--hover-focus-color);
  color: var(--font-color-special);
}
/* stylowanie dla index */
.main-side {
  background-color: var(--background-sides-element-color);
  font-family: inherit;
  text-align: center;
  align-items: center;
}
h1 {
  font-size: 44px;
  font-family: inherit;
  color: var(--font-color-special);
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
}
h1 span {
  display: block;
}
.button-main-side {
  background-color: var(--button-color-main-side);
  color: var(--font-color-special);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 41px 10px 42px;
}

.home-list {
  list-style: none;
}
.list-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.list-descr {
  font-size: 14px;
  color: var(--font-color-describe);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.task-list {
  list-style: none;
}
.task-list-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.crew {
  background-color: var(--background-color-crew);
  list-style: none;
}
.crew-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.crew-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.crew-position {
  font-size: 16px;
  color: var(--font-color-describe);
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.address > ul {
  font-family: inherit;
  font-weight: inherit;
  color: var(--font-color-special);
  line-height: 1.71;
  letter-spacing: 0.03em;
}
footer {
  background-color: var(--background-sides-element-color);
  color: var(--font-color-special);
}
.kontakt-up {
  font-size: 14px;
  font-weight: 500;
  list-style: none;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.kontakt-down {
  font-size: 14px;
  list-style: none;
  color: var(--font-color-footer);
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.kontakt-footer a {
  font-size: 14px;
  color: var(--font-color-footer);
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
