*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --logo-web-color: rgba(33, 150, 243, 1);
  --button-color: rgba(245, 244, 250, 1);
  --button-color-main-side: rgba(33, 150, 243, 1);
  --hover-focus-color: rgba(33, 150, 243, 1);
  --font-color-basic: rgba(33, 33, 33, 1);
  --font-color-describe: rgba(117, 117, 117, 1);
  --font-color-special: rgba(255, 255, 255, 1);
  --font-color-footer: rgba(255, 255, 255, 0.6);
  --background-sides-element-color: rgba(47, 48, 58, 1);
  --background-color-crew: rgba(245, 244, 250, 1);
  --background-color-crew-card: rgba(255, 255, 255, 1);
  --background-color-brand-card: rgba(255, 255, 255, 1);
  --border-color-brand-card: rgba(238, 238, 238, 1);
  --box-shadow-crew: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.container {
  width: 1600px;
}
.section {
  padding: 94px 0;
}
.logo {
  font-size: 26px;
  padding: 24px 0 25px 215px;
}
.web {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  color: var(--logo-web-color);
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.studio,
.studio-footer {
  font-family: Oleo Script, sans-serif;
  font-weight: 400;
  color: var(--font-color-basic);
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.studio-footer {
  color: var(--font-color-special);
}
/* header */
.container-header {
  display: inline-flex;
}
.header-portfolio {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}
header {
  display: flex;
}
a:link {
  text-decoration: none;
  font-weight: 500;
  color: var(--font-color-describe);
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.navigation,
a:visited {
  font-weight: 500;
  font-size: 14px;
  color: inherit;
  list-style: none;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.navigation {
  display: inline-flex;
  padding: 32px 0;
  margin-left: 93px;
}
.navigation li:not(:last-child) {
  margin-right: 46px;
}
.kontakt-up {
  font-size: 14px;
  font-weight: 500;
  list-style: none;
  padding: 32px 0 32px 227px;
  margin-left: 371px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.kontakt-up li:not(:last-child) {
  margin-right: 50px;
}
.kontakt {
  color: var(--font-color-describe);
  list-style: none;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

a:hover {
  color: var(--hover-focus-color);
}
a:focus {
  color: var(--hover-focus-color);
}
/* main */
body {
  font-family: "roboto", sans-serif;
  color: var(--font-color-basic);
}
.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 94px 0 50px;
}
.filter {
  list-style: none;
  font-family: inherit;
}
.filter li {
  display: inline-block;
  margin-right: 8px;
}
.filter li:not(:last-child) {
  margin-right: 8px;
}
.button-filter {
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  line-height: 1.625;
  letter-spacing: 0.03em;
}
.brand-card {
  width: 370px;
  background-color: var(--background-color-brand-card);
  border: 1px solid var(--border-color-brand-card);
}

.brand-pictures {
  list-style: none;
  display: grid;
  grid-gap: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 215px 94px;
}

.brand-task {
  font-size: 18px;
  font-weight: 700;
  font-family: inherit;
  padding: 20px 0 0 24px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.brand-task-descr {
  font-size: 16px;
  font-family: inherit;
  color: var(--font-color-describe);
  padding-left: 24px;
  padding-bottom: 20px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
button.button-filter:hover,
button.button-main-side:hover {
  background-color: var(--hover-focus-color);
  color: var(--font-color-special);
}
button.button-filter:focus,
button.button-main-side:focus {
  background-color: var(--hover-focus-color);
  color: var(--font-color-special);
}
/* stylowanie dla index */
.container-main-side {
  display: block;
}
.main-side {
  background-color: var(--background-sides-element-color);
  font-family: inherit;
  text-align: center;
  align-items: center;
}
h1 {
  font-size: 44px;
  font-family: inherit;
  color: var(--font-color-special);
  padding-top: 200px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
}
h1 span {
  display: block;
}
.button-main-side {
  background-color: var(--button-color-main-side);
  color: var(--font-color-special);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 10px 42px;
  margin: 30px 0 200px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.home-list {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0 215px;
}

.list-title {
  font-size: 14px;
  font-weight: 700;
  align-content: center;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.list-descr {
  font-size: 14px;
  color: var(--font-color-describe);
  margin-top: 10px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.task-list-container {
  display: inline-block;
}
.task-list-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  padding-left: 624px;
  display: inline;
  flex-wrap: nowrap;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.task-list-pics {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0 215px;
  margin-top: 50px;
}
.task-list-pics li:not(:last-child) {
  margin-right: 30px;
}
.crew-container {
  padding-left: 215px;
  padding-right: 215px;
}
.crew {
  background-color: var(--background-color-crew);
}
.crew-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  display: inline;
  white-space: nowrap;
  padding: 94px 695px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.crew-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.crew-card {
  background: var(--background-color-crew-card);
  box-shadow: var(--box-shadow-crew);
  width: 270px;
  margin-right: 30px;
  margin-top: 50px;
}
.crew-card:last-child {
  margin-right: 0;
}

.crew-name {
  font-size: 16px;
  font-weight: 500;
  margin-top: 30px;
  text-align: center;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.crew-position {
  font-size: 16px;
  color: var(--font-color-describe);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.address > ul {
  font-family: inherit;
  font-weight: inherit;
  color: var(--font-color-special);
  line-height: 1.71;
  letter-spacing: 0.03em;
}
footer {
  background-color: var(--background-sides-element-color);
  color: var(--font-color-special);
}

.logo-footer {
  font-size: 26px;
  display: flex;
  padding: 60px 0 0 215px;
}
.address {
  padding-left: 215px;
  margin-top: 20px;
  padding-bottom: 60px;
}
.kontakt-down {
  font-size: 14px;
  list-style: none;
  color: var(--font-color-footer);
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.kontakt-footer a {
  font-size: 14px;
  color: var(--font-color-footer);
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
